body {
  background-color: rgb(221, 221, 221);
}
h1 {
  color: #016fff;
}
p {
  color: rgb(0, 0, 0);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
hr {
  height:10px;
  border-width:5; 
  color:gray;
  background-color:gray;
}
.title {
  text-align: center;
  font-size: x-large;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.vertical-line {
  border-left: 3px solid #000; /* Sets the line: width, style, color */
  height: 5000px;              /* Sets the length of the line */
  margin-left: 25%;
  /* You can add margin or position properties as needed for placement */
}
